.icon-wrapper {
    background-color: #F5F9FB;
    border-radius: 50%;
    color: #b3b3b3;
    padding-top: 100%;
    position: relative;
}
.icon {
    font-size: 3em;
    position: absolute;
    top: 12%;
    left: 27%;
}
