@import "variables";

.timetable {
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
}

.timetable__headsign {
    font-size: 2rem;
    font-weight: 300;
    color: $font-color;
}
