.container {
    height: 100%;

}

.timetable-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}

.timetables {
    display: flex;
    justify-content: space-around;
}
